<div class="jumbotron mt-4">
    <h1 class="display-4">Hello, Open Play!</h1>
    <p class="lead">This is a simple site where a user can store events into Diary and can view them later on.</p>
    <hr class="my-4">
    <p>To begin, start by signing up using the link below:</p>
    <div class="mt-3 font-italic">
        <a class="btn btn-sm btn-primary" routerLink="/signup">Sign Up</a>

        <div class="my-3">---------- &nbsp;&nbsp;&nbsp; or &nbsp;&nbsp;&nbsp; ----------</div>

        <a class="btn btn-sm btn-primary mr-2" routerLink="/login">Sign In</a>, if you have already registered
    </div>
</div>