h3 {
    display: flex;
    flex-direction: row;
  }
  h3:before, h3:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #000;
    margin: auto;
  }
  h3:before {
    margin-right: 10px
  }
  h3:after {
    margin-left: 10px
  }